on:
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20.19
          cache: npm

      - name: Setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install dependencies
        run: npm ci

      - name: Set version info
        id: version
        run: |
          # Use branch name + short commit SHA + timestamp
          BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/} | tr / -)
          SHORT_SHA=$(git rev-parse --short HEAD)
          TIMESTAMP=$(date +%Y%m%d%H%M)
          VERSIONED_NAME="barug-${BRANCH_NAME}-${SHORT_SHA}-${TIMESTAMP}.apk"
          echo "VERSIONED_NAME=$VERSIONED_NAME" >> $GITHUB_ENV

      - name: Build APK
        run: eas build -p android --profile preview --non-interactive

      - name: Download APK
        run: eas build:download --platform android --latest --output ./app.apk

      - name: Rename APK with version
        run: mv ./app.apk ./ ${{ env.VERSIONED_NAME }}

      - name: Upload APK to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.VERSIONED_NAME }}
          path: ./${{ env.VERSIONED_NAME }}
